[Unit]
Description=latinaserver service

[Service]
ExecStart=/usr/local/bin/latinaserver
Restart=on-failure
RestartSec=10s
LimitNOFILE=infinity
Environment="SUPABASE_URL=https://project_ref.supabase.co"
Environment="SUPABASE_KEY=SERVICEROLEKEY"
Environment="PASSWORD=SECUREPASSWORD"
Environment="DOMAIN=SOMECOOLDOMAIN"
Environment="GIN_MODE=release"

[Install]
WantedBy=multi-user.target